<h1>Listing product_feed_items</h1>

<table>
  <tr>
    <th>User</th>
    <th>Item identifier</th>
    <th>Name</th>
    <th>Description</th>
    <th>Inventory</th>
    <th>Price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @product_feed_items.each do |product_feed_item| %>
  <tr>
    <td><%= product_feed_item.user_id %></td>
    <td><%= product_feed_item.item_identifier %></td>
    <td><%= product_feed_item.name %></td>
    <td><%= product_feed_item.description %></td>
    <td><%= product_feed_item.inventory %></td>
    <td><%= product_feed_item.price %></td>
    <td><%= link_to 'Show', user_product_feed_item_path(@user_id, product_feed_item.id) %></td>
    <td><%= link_to 'Destroy', user_product_feed_item_path(@user_id, product_feed_item.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Product feed item', new_user_product_feed_item_path %>
